img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    clip: rect(0px 500px 0px 500px);
}

.round-box {
    background-image: url(avatar.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}